
<h2>FlowSpace : Support team</h2>
<p>Hey {{ name }},</p>
<p>Please click below to Follow the link to reset your password your email</p>
<div>
    <a href="{{ url }}">Reset password</a>
</div>

<p>If you did not request this email you can safely ignore it.</p>